
/* Let's import some fonts */ 
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&display=swap');

@font-face {
  font-family: 'iA Writer Duo V';
  src: url('iawriterduov.woff2') format('woff2');
}

body {
    margin: auto;
    font-family: "IA Writer Duo V", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    color: #ff00aa;
    background: #ccccfe; 
}

h2,h3,h4,h5,h6 {
  font-family: "iA Writer Duo V", sans-serif;
}

h1,
h2,
strong {
  color: #0b132b;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.header ul li {
  display: inline;
  padding: 0;
}

.title {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 2.5em;
  margin: 0;
}


.navbar {
  text-align: center;
  margin-left: -10%;
	width: 120%;
	margin-top: 0px;
}

.navbar a {
  font-size: 1.2rem;
}

.navbar li {
	text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
  color: #254e70;
  font-family: "Inconsolata", sans-serif;
}
a:visited {
  color: #254e70;
  text-decoration: none;
}

.backbtn {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  font-size: 1.2em;
}


.page {
  max-width: 800px;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.page li a {
  display: inline;
width: 100%;
}

.base {
  margin: auto;
}

/**/

#AboutMe {
  margin-top: 3rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #254e70;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #254e70;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  display: inline-block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #254e70;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wrapper {
  max-width: 85%;
  margin: auto;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 50em;
  }
  .date {
    max-width: 50em;
  }
}

.blog ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.blog {
  padding: 2rem 0px 0px 0px;
  border: 0;
}
.blog2 {
  padding:0;
}
.blog2 ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}



.date2 {
  margin: 0;
  padding: 0;
  border: 0;
}

h1.nontitle {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}



@media (max-width: 480px) {
  img {
    max-width: 74%;
  }
}

li.date {
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flat-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #c2cae8; /* Change this to your desired background color */
  color: #fff; /* Text color */
  border: 0px;/*2px solid #c2cae8;  Border color */
  border-radius: 0px; /* Border radius to make it round */
  text-decoration: none; /* Remove underline from the text */
  margin-top: 5px;
}

/* Optional hover effect */
.flat-button:hover {
  background-color: #373d52; /* Change this to your desired hover background color */
}

.flat-button:visited {
  color: #ffffff;
}

.border-image {
  border-radius: 0%;
  border: 3px solid #254e70;
  text-align: center;
  display: block;
  cursor: pointer;
  max-width: 50%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  z-index: 50;
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.open-new {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.open-new:hover,
.open-new:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin: auto;
}

.swlogo {
  text-align: center;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline-color: #8381EF;
  outline-width: 8px;
  outline-style: solid;
}

/* Basic Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


#pageCanvas {
  width: 0;
  height: 0;
}
