/* Fonts Stuff */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
	font-family: "5x5";
	src:url("/fonts/5x5.ttf");
}
@font-face {
	font-family: "Cozette";
	src:url("/fonts/CozetteVector.ttf");
}
@font-face {
	font-family: "EditUndo";
	src:url("/fonts/editundo.ttf");
}
@font-face {
	font-family: "Scientifica";
	src:url("/fonts/scientifica.ttf");
}

:root {
	--color-bg: #5956c8;
	--color-text: #ffffff;
	--color-primary: #A7A6EB;
	--color-secondary: #b24d7a;
  --color-tertriary: #63639c;
	--color-accent: #9DC6E8; 

	--color-most-dark: #000000;
	--color-light: #ff00aa;
}

.pixel-decor {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
  pointer-events: none;
}

h2 {
	font-weight: normal;
}

h4 {
	font-weight: normal;
}

.notif {
	color: var(--color-accent);
}


body {
  	cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle cx="8" cy="8" r="7" fill="%23c2cae8" stroke="%23254e70" stroke-width="1"/></svg>') 8 8, auto;
	font-family: "Scientifica", "IBM Plex Mono", monospace;
	margin: auto;
	line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: var(--color-bg);
	color: var(--color-text);
	font-size: large; 
}



/* Styled hr divider */
hr {
  border: 2px;
  height: 3px;
  background-image: linear-gradient(to right, rgba(37, 78, 112, 0), rgba(37, 78, 112, 0.75), rgba(37, 78, 112, 0));
  margin: 2rem 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #7b90b5; 
  border: 1px solid #c2cae8;
}

::-webkit-scrollbar-thumb {
  background: #7b90b5;
  border: 2px solid #B2C3D8;
}

::-webkit-scrollbar-thumb:hover {
  background: #6884a0;
}



.dot-pattern {
  position: relative;
}

.dot-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#254e70 1px, transparent 1px);
  background-size: 10px 10px;
  opacity: 0.1;
  pointer-events: none;
}

.under-construction {
  border: 6px groove var(--color-secondary);
  padding: 15px;
  margin: 20px 0;
  background-color: var(--color-primary);
	position: relative;
}

.navbar {
	text-align: center;
	padding-inline-start: 0px;
	margin-top: 0px;
}

.navbar li {
	text-align: center;
}

.navbar li a {
	font-size: larger;
}

a {
	color: var(--color-accent); 
	border-bottom: 1px dotted var(--color-text);
	text-decoration: none;
}

a:hover {
	background: var(--color-primary);
	color: var(--color-secondary);
  border-bottom: none;
  padding: 4px
}





/* Text selection color */
::selection {
  background-color: #005859; 
  color: #e5e5fd; 
}


.backbtn {
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  font-size: 1.2em;
}


.page {
	margin: auto;
	max-width: 700px;

}

.page li a {
	display: inline;
}

.header ul li {
	display: inline;
	padding: 0;
	font-size: 1.2em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 1em;
}

.dev-badges {
  flex-wrap: wrap;
  gap: 0px;
}

.badge {
  background-color: var(--accent-color);
  color: white;
  font-size: 0.8em;
  border-radius: 0;
  /* Pixel corners for badges */
  clip-path: 
    polygon(
      0 var(--pixel-size),
      var(--pixel-size) var(--pixel-size),
      var(--pixel-size) 0,
      calc(100% - var(--pixel-size)) 0,
      calc(100% - var(--pixel-size)) var(--pixel-size),
      100% var(--pixel-size),
      100% calc(100% - var(--pixel-size)),
      calc(100% - var(--pixel-size)) calc(100% - var(--pixel-size)),
      calc(100% - var(--pixel-size)) 100%,
      var(--pixel-size) 100%,
      var(--pixel-size) calc(100% - var(--pixel-size)),
      0 calc(100% - var(--pixel-size))
    );
}


button {
	background-color: var(--color-tertriary);
	color: var(--color-most-dark);
	padding: 6px 20px;
	border: 2px outset #8a8da5;
	font-family: "Cozette", monospace;
  font-size: large;
  margin-bottom: 0.5em;
}



button:active {
	background-color: #9999ad;
	border: 2px inset #8a8da5;
}

.button {
  background-color: var(--color-tertriary);
	color: var(--color-most-dark);
	padding: 6px 20px;
	border: 2px outset #8a8da5;
	font-family: "Cozette", monospace;
  font-size: large;
  margin-bottom: 0.5em;
}

.button:hover {
  background-color: var(--color-tertriary);
	color: var(--color-most-dark);
	padding: 6px 20px;
	border: 2px outset #8a8da5;
	font-family: "Cozette", monospace;
  font-size: large;
}

.button:active {
  background-color: #9999ad;
	border: 2px inset #8a8da5;
}

input {
  border: 2px outset #8a8da5;
	font-family: "Cozette", monospace;
  font-size: large;
  padding: 6px 4px;
}

input:focus {
  border: 2px inset #8a8da5;
  outline: none;
}

