<div class="header">
	<a href="/" class="header-link"><img class="logo" src="/img/logo.png"></a>

	<input type="checkbox" id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation menu">
	<label for="nav-toggle" class="nav-toggle-label" aria-hidden="true">
		<span class="nav-toggle-icon"></span>
		<span class="nav-toggle-icon"></span>
		<span class="nav-toggle-icon"></span>
		<span class="nav-toggle-text">MENU</span>
	</label>

	<nav class="site-nav" aria-label="Primary">
		<ul class="navbar">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/GuestBook">GuestBook</a>
			</li>
			<li>
				<a href="https://softwave.itch.io/">My Games</a>
			</li>
			<li>
				<a href="/pages">Pages</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@softwave1662">YouTube</a>
			</li>
		</ul>
	</nav>
</div>
